@import 'tokens.css';
@import 'elements.css';

/* Layout
  ============================================================ */

/* Adapted from https://keithclark.co.uk/articles/pure-css-parallax-websites/ */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px; /* TODO: this is some magic */
}

.parallax__background {
  transform: translateZ(-5px) scale(6);
  translate: -38px; /* TODO: this is some magic */
  height: 190%; /* TODO: this is some magic */

  /* TODO: Try animated background */
  background: radial-gradient(
        var(--gradient4) 23%,
        var(--gradient4Transparent) 67% 100%
      )
      385px -24px,
    radial-gradient(var(--gradient2) 0, var(--gradient2Transparent) 60% 100%) -940px
      290px,
    radial-gradient(var(--gradient3) 10%, var(--gradient3Transparent) 60% 100%) -120px
      250px,
    radial-gradient(var(--gradient2) 40%, var(--gradient2Transparent) 57% 100%)
      495px -44px,
    radial-gradient(var(--gradient1) 30%, var(--gradient1Transparent) 67% 100%)
      122px -120px,
    radial-gradient(var(--gradient1) 10%, var(--gradient1Transparent) 60% 100%) -420px
      120px,
    radial-gradient(var(--gradient3) 15%, var(--gradient3Transparent) 50% 100%) -620px
      0,
    radial-gradient(var(--gradient3) 25%, var(--gradient3Transparent) 50% 100%)
      520px -250px,
    var(--gradient1);
}

.parallax__noise-overlay {
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  width: 100%;
  height: 100%;
  position: sticky;
  left: 0;
  top: 0;
}

.parallax__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(0);
  width: 80vw;
  margin: 0 auto;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.15));
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: var(--size-xl);
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  margin-top: 60px;
  clip-path: polygon(1% 5%, 96% 30%, 91% 100%, 0% 100%);
}

/* Content-specific
  ============================================================ */

.projects {
  padding: 8% 6% 6% 10%; /* TODO: this is some magic */
  /* Generated with https://bennettfeely.com/clippy/ */
  clip-path: polygon(6% 5%, 100% 12%, 95% 95%, 8% 100%);
}

.about-me {
  padding: 200px; /* TODO: this is some magic */
  /* Generated with https://bennettfeely.com/clippy/ */
  clip-path: polygon(6% 5%, 100% 15%, 91% 93%, 14% 100%);
}

.contact-form {
  padding: 200px; /* TODO: this is some magic */
  /* Generated with https://bennettfeely.com/clippy/ */
  clip-path: polygon(6% 5%, 100% 15%, 91% 93%, 14% 100%);
}
