@import 'tokens.css';
@import 'elements.css';

/* Layout
  ============================================================ */

/* Adapted from https://keithclark.co.uk/articles/pure-css-parallax-websites/ */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* TODO: this is some magic */
  perspective: 1px;
}

.parallax__background {
  transform: translateZ(-5px) scale(6);
  /* TODO: this is some magic */
  translate: -38px;
  /* TODO: this is some magic */
  height: 170%;

  background: radial-gradient(
        var(--gradient4) 23%,
        var(--gradient4Transparent) 67% 100%
      )
      385px -24px,
    radial-gradient(var(--gradient2) 0, var(--gradient2Transparent) 60% 100%) -940px
      290px,
    radial-gradient(var(--gradient3) 10%, var(--gradient3Transparent) 60% 100%) -120px
      250px,
    radial-gradient(var(--gradient2) 40%, var(--gradient2Transparent) 57% 100%)
      495px -44px,
    radial-gradient(var(--gradient1) 30%, var(--gradient1Transparent) 67% 100%)
      122px -120px,
    radial-gradient(var(--gradient1) 10%, var(--gradient1Transparent) 60% 100%) -420px
      120px,
    radial-gradient(var(--gradient3) 15%, var(--gradient3Transparent) 50% 100%) -620px
      0,
    radial-gradient(var(--gradient3) 25%, var(--gradient3Transparent) 50% 100%)
      520px -250px,
    var(--gradient1);
}

.parallax__noise-overlay {
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  width: 100%;
  height: 100%;
  position: sticky;
  left: 0;
  top: 0;
}

.parallax__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(0);
  width: 50vw;
  margin: 0 auto;
}

/* Content-specific
  ============================================================ */

.main-video {
  width: 100%;
  margin-top: 4em;
  background: rebeccapurple;

  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);
}

.portrait {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 70px;
  margin-bottom: 30px;

  transform: rotate(10deg);
  translate: 15px;

  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);
}
