@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash');

:root {
  /* Sizes
  ============================================================ */
  --size-m: 8px;
  --size-l: 16px;
  --size-xl: 32px;

  /* Borders
  ============================================================ */
  --border-radius-m: 8px;

  /* Shadoows
  ============================================================ */
  --shadow-m: 0 13px 27px -5px hsla(240, 0%, 30%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);

  /* Typography
  ============================================================ */
  --font-family-sans: 'Inter', sans-serif;
  --font-family-sans-features: 'calt', 'tnum', 'case', 'ss01', 'ss02';
  --font-family-headline: 'Cherry Swash', sans-serif;

  --font-size-2xl: 5em;

  /* Gradient background
  ============================================================ */

  --gradient1: #a960ee;
  --gradient2: #ff333d;
  --gradient3: #90e0ff;
  --gradient4: #ffcb57;
  --gradient1Transparent: rgba(169, 96, 238, 0);
  --gradient2Transparent: rgba(255, 51, 61, 0);
  --gradient3Transparent: rgba(144, 224, 255, 0);
  --gradient4Transparent: rgba(255, 203, 87, 0);
}
