<template>
  <div class="player">
    <video class="player__video" id="player__video">
      <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
    </video>
    <button id="playpause" class="player__play" type="button" data-state="play">
      <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" viewBox="0 0 100 100">
        <polygon points="0,0 100,50 0,100" />
      </svg>
    </button>
    <!-- TODO: button to smoothly scroll to projects -->
  </div>
</template>
