@import url('/tokens.css');

* {
  font-family: var(--font-family-sans);
}

h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: var(--font-family-headline);
  margin: 0;
}

h1 {
  font-size: var(--font-size-2xl);
  letter-spacing: 0.25rem;
}

p {
  font-feature-settings: var(--font-family-sans-feature);
  line-height: 1.75;
  font-size: 1.25em;
  margin: 0;
}
