<template>
  <h1>My work</h1>
  <div class="projects__wrapper">
    <div id="projects__content" class="projects__content">
      <template id="projects__content__template">
        <video controls></video>
        <p>Project description.</p>
      </template>
    </div>

    <!-- TODO: not good with "projects__nav" twice -->
    <nav class="projects__nav">
      <ul id="projects__nav">
        <template id="projects__nav__template">
          <li>
            <a
              href="#"
              onclick="byId('projects__content', this).scrollTop = byId(`project-${this.dataset.index}`, this).offsetTop"
            >
              Project name
            </a>
          </li>
        </template>
      </ul>
    </nav>
  </div>
</template>
