<template>
  <h1>About me</h1>
  <img class="portrait" src="https://picsum.photos/id/237/200/200?greyscale" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non
    interdum lacus. Sed nec tellus vel nibh tempus ultricies. Nam ac finibus
    ipsum. In nec diam quis turpis dignissim sagittis ut non nulla. Ut varius
    lacus tincidunt consequat consectetur. Pellentesque ultrices augue dui, nec
    scelerisque enim blandit sed. Nunc vitae aliquet mauris. Lorem ipsum dolor
    sit amet, consectetur adipiscing elit. Suspendisse gravida leo ut ipsum
    consectetur consectetur. Nunc et mauris dolor. Quisque ac condimentum nulla,
    imperdiet aliquam urna. Maecenas augue felis, semper non efficitur ac,
    pulvinar eget quam. Duis faucibus rhoncus gravida.
  </p>

  <style>
    .portrait {
      width: 200px;
      height: 200px;
      float: left;
      margin-right: 70px;
      margin-bottom: 30px;

      transform: rotate(10deg);
      translate: 15px;

      border-radius: var(--border-radius-m);
      box-shadow: var(--shadow-m);

      /* TODO: shape-outside */
    }
  </style>
</template>
